<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>
<%- include('../layouts/sidebar.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.css"> -->

<style>
  .sales-card .card-icon, 
  .revenue-card .card-icon, 
  .customers-card .card-icon {
    width: 70px;
    height: 70px;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
  }
  
  .sales-card h5.card-title,
  .revenue-card h5.card-title,
  .customers-card h5.card-title {
    margin-top: 0.5rem;
  }
  .sales-card h6,
  .revenue-card h6,
  .customers-card h6 {
    font-size: 3rem;
    padding-left: 15px;
  }
  </style>


  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">Welcome Admin</h3>
    
            </div>
          </div>
          <br>
          <section class="section dashboard">
            <div class="row">
        
              <!-- Left side columns -->
              <div class="col-lg-12">
                <div class="row">
                  <!-- Sales Card -->
                  <div class="col-md-4">
                    <div class="card info-card sales-card">
        
                      <!-- <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
        
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div> -->
        
                      <div class="card-body">
                        <h5 class="card-title">Sales </h5>
        
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            <h6><%= salesCount %></h6>
                            <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->
        
                          </div>
                        </div>
                      </div>
        
                    </div>
                  </div><!-- End Sales Card -->
  
                  <!-- Revenue Card -->
                  <div class="col-md-4">
                    <div class="card info-card revenue-card">
        
                      <!-- <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
        
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div> -->
        
                      <div class="card-body">
                        <h5 class="card-title">Revenue </h5>
        
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-inr">&#x20b9;</i>
                          </div>
                          <div class="ps-3">
                            <h6><%= revenueOfTheWeek %></h6>
                            <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->
        
                          </div>
                        </div>
                      </div>
        
                    </div>
                  </div><!-- End Revenue Card -->
        
                  <!-- Customers Card -->
                  <div class="col-md-4">
                    <div class="card info-card customers-card">
        
                      <!-- <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
        
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div> -->
        
                      <div class="card-body">
                        <h5 class="card-title">Customers</h5>
        
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                            <h6><%= userCount %></h6>
                            <!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> -->
        
                          </div>
                        </div>
        
                      </div>
                    </div>
        
                  </div><!-- End Customers Card -->
        
                </div>
              </div><!-- End Left side columns -->
        
        
              <div class="col-lg-12">
                <br>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Payment Methods</h5>
        
                    <!-- Doughnut Chart -->
                    <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#doughnutChart'), {
                          
                          type: 'doughnut',
                          
                          data: {
                            labels: [
                              'WALLET',
                              'ONLINE',
                              'COD'
                            ],
          
                            datasets: [{  
                              label: '',
                              data: ['<%=wallet%>','<%=upi%>','<%=cash%>'],
                              backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)'
                              ],
                              hoverOffset: 4
                            }]
                          }
                        });
                      });
                    </script>
                    <!-- End Doughnut CHart -->
        
                  </div>
                </div>
              </div>
        
        <!-- bar chart -->
              <div class="col-lg-12">
                <br>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Daily Sales</h5>
        
                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#barChart'), {
                          type: 'bar',
                          data: {
        
                            labels: ['<%=date[0]%>', '<%=date[1]%>', '<%=date[2]%>', '<%=date[3]%>', '<%=date[4]%>', '<%=date[5]%>', '<%=date[6]%>'],
                            datasets: [{
                              label: 'Daily sales',
                              data: ['<%=sales[0]%>','<%=sales[1]%>','<%=sales[2]%>','<%=sales[3]%>','<%=sales[4]%>','<%=sales[5]%>','<%=sales[6]%>'],
        
                              backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                              ],
                              borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                              ],
                              borderWidth: 1
                            }]
                          },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            }
                          }
                        });
                      });
                    </script>
                    <!-- End Bar CHart -->
        
                  </div>
                </div>
              </div>
        
             
        
              <div class="col-lg-12">
                <br>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Category wise sales</h5>
        
                    <!-- Pie Chart -->
                    <canvas id="pieChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#pieChart'), {
                          type: 'pie',
                          data: {
                            labels: ['<%=categoryName[0]%>','<%=categoryName[1]%>','<%=categoryName[2]%>','<%=categoryName[3]%>'],
                            datasets: [{
                              label: '',
                              data: ['<%=catogorySaleCount[0]%>', '<%=catogorySaleCount[1]%>','<%=catogorySaleCount[2]%>','<%=catogorySaleCount[3]%>'],
                              backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)'
                                
                              ],
                              hoverOffset: 4
                            }]
                          }
                        });
                      });
                    </script>
                    <!-- End Pie CHart -->
        
                  </div>
                </div>
              </div>
        
              <!-- Top Selling -->
              <!-- <div class="col-lg-12">
                <div class="card top-selling overflow-auto">
        
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
        
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
        
                  <div class="card-body pb-0">
                    <h5 class="card-title">Top Selling <span>| Today</span></h5>
        
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">Preview</th>
                          <th scope="col">Product</th>
                          <th scope="col">Price</th>
                          <th scope="col">Sold</th>
                          <th scope="col">Revenue</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><a href="#"><img src="/assets/img/product-1.jpg" alt=""></a></th>
                          <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                          <td>$64</td>
                          <td class="fw-bold">124</td>
                          <td>$5,828</td>
                        </tr>
                        <tr>
                          <th scope="row"><a href="#"><img src="/assets/img/product-2.jpg" alt=""></a></th>
                          <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                          <td>$46</td>
                          <td class="fw-bold">98</td>
                          <td>$4,508</td>
                        </tr>
                        <tr>
                          <th scope="row"><a href="#"><img src="/assets/img/product-3.jpg" alt=""></a></th>
                          <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                          <td>$59</td>
                          <td class="fw-bold">74</td>
                          <td>$4,366</td>
                        </tr>
                        <tr>
                          <th scope="row"><a href="#"><img src="/assets/img/product-4.jpg" alt=""></a></th>
                          <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                          <td>$32</td>
                          <td class="fw-bold">63</td>
                          <td>$2,016</td>
                        </tr>
                        <tr>
                          <th scope="row"><a href="#"><img src="/assets/img/product-5.jpg" alt=""></a></th>
                          <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                          <td>$79</td>
                          <td class="fw-bold">41</td>
                          <td>$3,239</td>
                        </tr>
                      </tbody>
                    </table>
        
                  </div>
        
                </div>
              </div>End Top Selling -->
        
            </div>
          </section>
        </div>
      </div>
      
  <%- include('../layouts/footer.ejs') %>





  