<%- include('../layouts/user/header.ejs') %>

<style>
  .left_sidebar_area {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  width: 200px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  font-size: 16px;
  color: #333;
}

input[type="text"]::placeholder {
  color: #999;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
</style>
 <%- include('../layouts/user/navbar.ejs') %>

 <section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content d-md-flex justify-content-between align-items-center">
        <div class="mb-3 mb-md-0">
          <h2>All Products</h2>
          <p>Very us move be blessed multiply night</p>
        </div>
        <div class="page_link">
          <a href="/">Home</a>
          <a href="">Shop</a>
          <a href="/allProducts">All Products</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Category Product Area =================-->
<section class="cat_product_area section_gap1">
  <div class="container">
    <div class="row">

      <!-- <form action="/search" method="post"  style="display: flex;justify-content: flex-start; flex-direction: row;">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
      </form> -->

      <div class="col-lg-9">
        <div class="latest_product_inner">
          <% if (Product.length > 0) { %>
            <div class="row" id="Filter">
              <% Product.forEach(function(x) { %>
                <!--  -->
                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <a href="/singleProduct?id=<%= x._id %>"><img class="card-img" src="/productImages/<%= x.image[0]%>" alt="<%= x.name %>" /></a>
                      <div class="p_icon">

                          <a href="/singleProduct?id=<%= x._id %>">
                            <i class="ti-eye"></i>
                          </a>
                          

                        <% if(typeof User!=='undefined') { %>
                          <!-- wishlist -->
                          <a href="/login" class="btn-addwish-b2 dis-block pos-relative ">
                            <i class="ti-heart"></i>
                        </a>
                        <!-- cart -->
                        <a href="/login" class="btn-addwish-b2 dis-block pos-relative " >
                          <i class="ti-shopping-cart"></i>
                        </a>
                          <% } else { %>
                            <!-- wishlist -->
                        <a href="#" class="btn-addwish-b2 dis-block pos-relative " onclick="addToWishlist('<%= x._id %>')">
                            <i class="ti-heart"></i>
                          <!-- cart -->
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative " onclick="addToCart('<%=x._id%>','<%=x.price%>')">
                              <i class="ti-shopping-cart"></i>
                            </a>
                        </a>
                        <% } %>
                        
                      </div>
                    </div>
                    <div class="product-btm">
                      <a style="text-decoration: none;" href="/singleProduct?id=<%= x._id %>" class="d-block">
                        <h4><%= x.name %></h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">₹<%=x.price%></span>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
            <!--  -->
          <% } else { %>
            <p>No products found.</p>
          <% } %>
        </div>
      </div>


      
      <div class="col-lg-3">
        <div class="left_sidebar_area">
          <aside class="left_widgets p_filter_widgets">

            <!-- search -->
            <input  onkeyup="filtersearch()" id="search" type="text"
                placeholder="Search Product ">
              <!-- end -->
                              
            <!-- changed -->
            <div class="l_w_title">
              <h3>Browse Categories</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <% category.forEach((element)=> { %>
                <li>
                  <label style="text-decoration: none;" for="">
                    <%=element.name%>
                        <input type="checkbox" onclick="category('<%=element.name%>')"
                            name="<%=element.name%>" id="<%=element.name%>"
                            value="<%=element.name%>">

                </label>
                </li>
                <% }); %>
              </ul>
            </div>


          <!-- my -->
            <!-- <div class="l_w_title">
              <h3>PRICE FILTER</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <li>
                  <a href="/allProducts">ALL PRODUCTS</a>
                </li>
                <li>
                  <a href="/price?low=0&high=2000">₹0 - ₹2000</a>
                </li>
                <li>
                  <a href="/price?low=2000&high=4000">₹2000 - ₹4000</a>
                </li>
                <li>
                  <a href="/price?low=4000&high=8000">₹4000 - ₹8000</a>
                </li>
                <li>
                  <a href="/price?low=8000&high=10000">₹8000 - ₹10000</a>
                </li>
                <li>
                  <a href="/priceLow?value=1">PRICE: LOW TO HIGH</a>
                </li>
                <li>
                  <a href="/priceLow?value=-1">PRICE: HIGH TO LOW</a>
                </li>
              </ul>
            </div> -->

            <!-- ashi -->
            <div class="l_w_title">
              <h3>Price Filter</h3>
          </div>
          <div class="widgets_inner">
              <ul class="list">
                  <!-- <ul class="list"> -->
                      <li>
                          <label for="">
                            ₹3000-above
                              <input onclick="price(4)" type="checkbox" value="3000" id="FOUR">
                          </label><br>
                      </li>
                      <li>
                          <label for="">
                            ₹2000-2999
                              <input onclick="price(3)" type="checkbox" value="2000,2999" id="THREE">
                          </label><br>
                      </li>
                      <li >
                          <label for="">
                            ₹1000-1999
                              <input onclick="price(2)" type="checkbox" value="1000,1999" id="TWO">
                          </label><br>
                      </li>
                      <li>
                          <label for="">
                            ₹0-999
                              <input onclick="price(1)" type="checkbox" value="0,999" id="ONE">
                          </label><br>
                      </li>

                      <!-- <li>
                        <label for="" ><a href="/priceLow?value=1"><input  type="checkbox" value="3000">
                          LOW TO HIGH</a>
                        </label>
                      </li> -->
                      <!-- <li>
                        <a href="/priceLow?value=-1">PRICE: HIGH TO LOW</a>
                      </li> -->

                  </ul>
          </div>
          </aside>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>

<div class="card-body">
  <% if(typeof productCount == "undefined"){%>
  <%}else{%>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <!-- Page numbers -->
      <% for(let i=1;i<=productCount ;i++){ %>
      <li class="page-item"><a class="page-link" href="?page=<%=i %>"><%= i %></a></li>
      <% } %>
    </ul>
  </nav>
  <%}%>
</div>


<!--================End Category Product Area =================-->
<script>
  function addToCart(proId, price) {
    $.ajax({
      url: '/addTocart',
      data: {
        productId: proId,
        productPrice: price
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          $('.bg0').load('/wishlist .bg0')
          console.log(response);
          Swal.fire({
            title: 'Added',
            text: 'Item added to Cart',
            icon: 'success',
            timer: 1000,
            showConfirmButton: false
          })
        } else {
          Swal.fire({
            text: 'Item already in Cart',
            icon: 'info',
            timer: 1000,
            showConfirmButton: false
          })
        }

      }
    })
  }
</script>

<script>
  function addToWishlist(proId) {
    $.ajax({
      url: '/addToWishlist',
      data: {
        productId: proId
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          $('.table-shopping-cart').load('/wishlist .table-shopping-cart')
          console.log(response);
          Swal.fire({
            title: 'Added',
            text: 'Item added to wishlist',
            icon: 'success',
            timer: 1000,
            showConfirmButton: false
          })
        } else {
          Swal.fire({
            text: 'Item already in wishlist',
            icon: 'info',
            timer: 1000,
            showConfirmButton: false
          })
        }
        console.log(response);
      }
    })
  }
</script>



<script>
  let n = 0
  let b = 0
  let categorys = []
  let brands = []
  let search
  let prices = []
  let filterprice = []
  function category(ID) {


      if ($(`#${ID}`).is(':checked') == true) {
          categorys[n] = $(`#${ID}`).val()
          n++
          console.log(categorys);
          console.log($(`#${ID}`).is(':checked'))
      } else {
          console.log($(`#${ID}`).is(':checked'))
          console.log(categorys.indexOf(`${$(`#${ID}`).val()}`));
          let index = categorys.indexOf(`${$(`#${ID}`).val()}`)
          categorys.splice(index, 1)
          n--
          console.log(categorys);
      }
      submit(categorys, filterprice, search, brands)

  }


  function submit(categorys, brands) {
      $.ajax({
          url: '/shopFilter',
          type: 'post',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({ categorys, brands, filterprice, search }),
          success: (res) => {
              let html = []
              if (res.Data) {
                  console.log(res.Data);
                  $('#Filter').html('')
                  res.Data.forEach(value => {
                      value.forEach((item, i) => {
                          html += ` <div class="col-lg-4 col-md-6">
                        <div class="single-product">

                          <div class="product-img">
                            <a href="/singleProduct?id=${item._id}">  <img class="card-img" src="/productImages/${item.image[0]}" alt="">
                              </a>
                             
                      
                                <div class="p_icon">
                                  <a href="/singleProduct?id=${item._id}" >
                                    <i class="ti-eye"></i>
                                  </a>

                                  <a href="/addToWishlist?id=${item._id}" onclick="event.preventDefault(); addToWishlist('${item._id}')">
                                    <i class="ti-heart"></i>
                                  </a>

                                  <a href="/addToCart?id=${item._id}" class="btn-addwish-b2 dis-block pos-relative" onclick="event.preventDefault(); addToCart('${item._id}', '${item.price}')">
                                    <i class="ti-shopping-cart"></i>
                                  </a>
                                 </div>

                              </div> 

                                <div class="product-btm">
                                   <a href="#" class="d-block">
                                      <h4>${item.name}</h4>
                                    </a>
                                  <div class="mt-3">
                                  <span class="mr-4">₹${item.price}</span>
                                  </div>
                                </div> 
                  
                  
                              </div> 
                        </div> `

                      })

                  });

                  $('#Filter').html(html)




              }
          }
      })
  }

  function brand(id) {
      if ($('#' + id).is(':checked') == true) {
          brands[b++] = $('#' + id).val();
      } else {
          const index = brands.indexOf($('#' + id).val());
          brands.splice(index, 1);
          b--;
      }
      console.log(brands, '=============');
      submit(categorys, brands, search, filterprice);
  }

  function filtersearch() {
      search = $('#search').val()
      submit(categorys, brands, search, filterprice)
  }


  function price(check) {
      filterprice = []
      let one, two, three, fore
      let n = 0, index
      if ($("#ONE").is(':checked') == true) {
          one = $("#ONE").val()
          prices[n] = one
          n++
      } else if (check == 1) {
          index = prices.indexOf($("#ONE").val())
          prices.splice(index, 1)

      }
      if ($("#TWO").is(':checked') == true) {
          two = $("#TWO").val()
          prices[n] = two
          n++
      } else if (check == 2) {
          index = prices.indexOf($("#TWO").val())
          prices.splice(index, 1)

      }
      if ($("#THREE").is(':checked') == true) {
          three = $("#THREE").val()
          prices[n] = three
          n++
      } else if (check == 3) {
          index = prices.indexOf($("#THREE").val())
          prices.splice(index, 1)

      }
      if ($("#FOUR").is(':checked') == true) {
          fore = $("#FOUR").val()
          prices[n] = fore
          n++
      } else if (check == 4) {
          index = prices.indexOf($("#FOUR").val())
          prices.splice(index, 1)

      }
      let length
      if (prices) {
          length = prices.length
      }


      if (prices.length == 1 && prices[length - 1].split(',').length == 2) {
          let first = [prices[length - 1]]
          first = first[0].split(',')

          filterprice[0] = first[0]
          filterprice[1] = first[1]

      } else if (prices.length == 1 && prices[length - 1].split(',').length == 1) {
          console.log('50000');
          let first = []
          first[0] = prices[0]
          filterprice[0] = first[0]
          console.log(filterprice);
      } else if (prices.length > 1 && prices[length - 1].split(',').length == 2) {
          let first = [prices[0]]
          let second = [prices[length - 1]]
          first = first[0].split(',')
          second = second[0].split(',')
          filterprice[0] = first[0]
          filterprice[1] = second[1]
          console.log(filterprice);
      } else if (prices.length > 1 && prices[length - 1].split(',').length == 1) {
          let first = [prices[0]]
          first = first[0].split(',')
          filterprice[0] = first[0]
          console.log(filterprice);
          console.log('dhcf');
      }
      submit(categorys, brands, search, filterprice)
  }

</script>


</section>
<!--================ End Feature Product Area =================-->

<%- include('../layouts/user/footer.ejs') %>