<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>


<section class=" gradient-custom  pt-5 " id="ordersuccess">
  <!-- <form action="" id="checkout-form"> -->
  <div class="container py-5  ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-lg-10 col-xl-8 ">
        <div class="card" style="border-radius:10px; border:solid .5px rgb(102, 102, 102);">
          <div class="card-header px-4 py-5">
            <h4 class="text-success mb-0 text-center text-capitalize">Thanks for your Order, <span style="color: #a8729a;"><%= user.name %>!</span></h4>
          </div>

          <div class="card-body p-4">
            <!-- <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
            </div> -->
            <% order.product.forEach((x)=>{ %>

            <div class="card shadow-0 border mb-4">

              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/productImages/<%=x.productId.image[0]%>" class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0"><%=x.productId.name  %></p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty:<%=x.quantity%></p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><%=x.singlePrice  %></p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><%=x.singlePrice  %>x<%=x.quantity%></p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><%=x.singleTotal  %></p>
                  </div>
                </div>

              </div>
            </div>
            <% }) %>

            <hr class="mb-3" style="background-color:  rgb(173, 173, 173) ; opacity: 1;">

            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0" style="font-weight:700;">Order Details</p>
              <!-- <p class="text  mb-0"><span class="fw-bold me-4">Total</span><%= order.total %></p> -->
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice number :<%= order.orderId %></p>
              <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p> -->
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice date :<%= order.date.toLocaleString('en-us', { day: '2-digit', month: '2-digit', year: '2-digit' })
                  %></p>
              <% if( order.discount !== null ){ %>
              <p class="text-success mb-0"><span class="fw-bold text-success me-4">You saved : </span>₹<%= order.discount %> </p>
              <% } %>
            </div>
            <div class="d-flex justify-content-between ">
              <% if( order.discount !== null  ){ %>
              <p class="text-muted mb-0">Applied coupon :<%= order.coupon %></p>
              <% } %>

              <p class="text-info mb-0 " ><span class="fw-bold me-4">Delivery Charges</span> Free</p>

            </div>

          </div>
          <div class="card-footer border-0 px-4 d-flex justify-content-between " style="background-color: #1e1e1e; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <a href="/"> <button class="btn btn-outline-warning ">Continue shopping </button>
            </a>
            <h6 class="d-flex align-items-center justify-content-end text-white   mb-0  "> <span class="h6  mb-0">TOTAL
                AMOUNT : ₹<%= order.total %></span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </form> -->
</section>
<%- include('../layouts/user/footer.ejs') %>